{% include 'header.html' %}
<div id="content">

	<h1><a href="users">Users</a> > Add User</h1>
	
	<form method="post" action="{{ AddUserForm.action }}" id="AddUserForm" class="passwordForm">
		<div id="profile_labels">
			<label for="username">Username:</label>
			<label for="name">Name:</label>
			<label for="email">Email:</label>
			<label for="type">Type:</label>
			<label for="address">Address:</label>
			<label for="residence">City:</label>
			<label for="company">Company:</label>
		</div>

		<div id="profile_input">
			<input type="text" name="username" id="username" value="{{ username }}" />
			<input type="text" name="name" id="name" value="{{ name }}" />
			<input type="text" name="email" id="email" value="{{ email }}" />
            <input type="hidden" name="submitvalue" value="{{ submitvalue }}" />
			<select type="text" name="type" id="type" />
				<option value="5">Client</option>
				<option value="6">China</option>
				<option value="7">Europe</option>
			</select>
			<input type="text" name="address" id="address" value="{{ address }}" />
			<input type="text" name="residence" id="residence" value="{{ residence }}" />
			<input type="text" name="company" id="company" value="{{ company }}" />
		</div>
		
		<div class="clear"></div>
	
		<div id="password_labels">
			<label for="password">Password:</label>
			<label for="password_again">Password again:</label>
		</div>
		
		<div id="password_input">
			<input type="password" name="password" id="password" value="" />
			<input type="password" name="password_again" id="password_again" value="" />
		</div>
		
		<div class="clear"></div>
		
		<div id="center_buttons">
			<input class="center_button" type="submit" name="submit" value="Save"/>
			<input class="center_button" type="reset" name="reset" value="Cancel"/>
		</div>
	</form>
	
</div>
{% include 'footer.html' %}