{% include 'header.html' %}
<div id="content">

	<h1><a href="users">{{ trans("users") }}</a> > {{ trans("editUser") }}</h1>
	
	<form method="post" action="{{ EditUserForm.action }}" id="EditUserForm">
		<div id="profile_labels">
			<label for="username">{{ trans("username") }}:</label>
			<label for="name">{{ trans("name") }}:</label>
			<label for="email">Email:</label>
			<label for="type">Type:</label>
			<label for="address">{{ trans("address") }}:</label>
			<label for="residence">{{ trans("city") }}:</label>
			<label for="company">{{ trans("company") }}:</label>
		</div>
		
		<div id="profile_input">
			<input type="text" name="username" id="username" value="{{ username }}" />
			<input type="text" name="name" id="name" value="{{ name }}" />
			<input type="text" name="email" id="email" value="{{ email }}" />
            
			<select type="text" name="type" id="type" >
				<option value="5" {% if permission==5 %} selected="selected" {% endif %} >Client</option>
				<option value="6" {% if permission==6 %} selected="selected" {% endif %}>China</option>
				<option value="7" {% if permission==7 %} selected="selected" {% endif %}>Europe</option>
			</select>
			<input type="text" name="address" id="address" value="{{ address }}" />
			<input type="text" name="residence" id="residence" value="{{ residence }}" />
			<input type="text" name="company" id="company" value="{{ company }}" />
		</div>
		
		<div class="clear"></div>
	
		<p id="password_remark">{{ trans("passwordFieldInfo") }}</p>
	
		<div id="password_labels">
			<label for="password">{{ trans("password") }}:</label>
			<label for="password_again">{{ trans("passwordAgain") }}:</label>
		</div>
		
		<div id="password_input">
			<input type="password" name="password" id="password" value="" />
			<input type="password" name="password_again" id="password_again" value="" />
		</div>
		
		<div class="clear"></div>
		
		<div id="center_buttons">
			<input class="center_button" type="submit" name="submit" value="{{ trans("save") }}"/>
			<input class="center_button" type="reset" name="reset" value="{{ trans("cancel") }}"/>
		</div>
	</form>
	
</div>
{% include 'footer.html' %}