{% include 'header.html' %}
<div id="content">

	<h1>{{ trans("users") }}</h1>
	
	<table>
		<thead>
			<tr>
				<th>{{ trans("name") }}</th>
				<th>{{ trans("company") }}</th>
				<th>Type</th>
				<th>{{ trans("options") }}</th>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td>{{ user.name }}</td>
				<td>{{ user.company }}</td>
				<td>{{ user.type }}</td>
				<td class="options_td">
					<a class="option_edit" href="users/edit/{{ user.id }}">{{ trans("edit") }}</a>
					<a class="option_delete" href="user/{{ user.id }}">{{ trans("delete") }}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<a href="users/add" class="regular_button">{{ trans("add") }}</a>
	
	<div class="clear"></div>
	
</div>
{% include 'footer.html' %}