{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">Projects</a> > <a href="projects/project/1">Project_name</a> > Archive</h1>
	
	<table id="table" class="single_col">
		<thead>
			<tr>
				<th>Name</th>
		</thead>
		<tbody>
			<tr>
				<td><a href="#">print_logo_tshirt.pdf</a></td>
			</tr>
			<tr class="evenrow">
				<td><a href="#">Invoice_012012.pdf</a></td>
			</tr>
		</tbody>
	</table>
	
	<a href="#" class="regular_button">Purge</a>
	
	<div class="clear"></div>
	
</div>
{% include 'footer.html' %}