{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">Projects</a> > <a href="projects/project/1">Project_name</a> > Edit Project</h1>
	
	<div id="profile_labels">
		<label for="name">Project Name:</label>
		<label for="number">Projectnumber:</label>
		<label for="done">Done?:</label>
		<label for="permissions">Permissions:</label>
	</div>
	
	<form method="post" action="" id="EditProjectForm">
		<div id="profile_input">
			<input type="text" name="name" id="name" value="" />
			<input type="text" name="number" id="number" value="" />
			<input type="checkbox" name="done" id="done" value="" /><br />
			<div id="permissions_bg">
				<input type="checkbox" name="permissions" value="user_1" /><label>User 1</label><br />
				<input type="checkbox" name="permissions" value="user_2" /><label>User 2</label><br />
				<input type="checkbox" name="permissions" value="user_3" /><label>User 3</label><br />
			</div>
		</div>
		
		<div class="clear"></div>
		
		<div id="center_buttons">
			<input class="center_button" type="submit" name="submit" value="Save"/>
			<input class="center_button" type="reset" name="reset" value="Cancel"/>
		</div>
	</form>
	
</div>
{% include 'footer.html' %}