<!doctype html>
<html>
	<head>
		<title>{{ pageTitle }}</title>
		<base href="{{ baseHref }}" />
		<link rel="stylesheet" media="screen" href="css/default.css">
		{% include 'js.html' %}
	</head>
	<body>
		<div id="header">
		
			<a href="#" id="menu">Menu</a>
			
			<ul id="drop_menu">
				<li><a href="Projects">{{ trans("projects") }}</a></li>
				<li><a href="Archive">{{ trans("archive") }}</a></li>
                {% if showMenuUsers %}
				<li><a href="Users">{{ trans("users") }}</a></li>
                {% endif %}
				<li><a href="Profile">{{ trans("profile") }}</a></li>
                <li><a href="Contact">{{ trans("contact_us") }}</a></li>
                <li><a href="Home/logout">{{ trans("logout") }}</a></li>
			</ul>
			
			<ul id="language_select">
				<li><a href="./Home/language/en/{{ languageSwitchReturnUrl }}">English</a></li>
				<li><a href="./Home/language/nl/{{ languageSwitchReturnUrl }}">Nederlands</a></li>
			</ul>
			
		</div>