<!doctype html>
<html>
	<head>
		<title>{{ pageTitle }}</title>
		<base href="{{ baseHref }}" />
		<link rel="stylesheet" media="screen" href="css/default.css">
		{% include 'js.html' %}
	</head>
	<body>
		<a href="#" id="logo">WE <span style="color: C00;">R</span> <span style="color: black;">ASIA</span></a>
		
		<br />
		
		<ul id="language_select">
			<li><a href="./Home/language/en/{{ languageSwitchReturnUrl }}">English</a></li>
			<li><a href="./Home/language/nl/{{ languageSwitchReturnUrl }}">Nederlands</a></li>
		</ul>
		
		<br />
		
		<div id="loginbox">
			<div id="login_messagebox">{{ trans("invalidMessage") }}</div>
			<form method="post" action="{{ loginForm.action }}" id="loginForm">
				<input type="text" name="username" placeholder="{{ trans("username") }}"/>
				<input type="password" name="password" placeholder="{{ trans("password") }}" />
				<input type="submit" name="submit" value="Log in"/>
			</form>
			<a href="./home/newPasswordRequest" class="forget">{{ trans("forgotPassword") }}</a>
		</div>
{% include 'footer.html' %}