{% include 'header.html' %}
<div id="content">

	<h1>Projects</h1>
	
	<table id="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
				<th>Options</th>
		</thead>
		<tbody>
			{% for project in projects %}
			<tr{% if loop.index is even %} class="evenrow"{% endif %}>
				<td><a href="projects/project/{{project.id}}">{{project.name}}</a></td>
				<td>{{project.status}}</td>
				<td class="options_td">
					<a class="option_edit" href="projects/editProject/{{project.id}}">edit</a>
					<a class="option_delete" href="#">delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	
	<a href="projects/addProject" class="regular_button">Add Project</a>
	
	<div class="clear"></div>
	
</div>
{% include 'footer.html' %}