<!doctype html>
<html>
	<head>
		<title>{{ pageTitle }}</title>
		<base href="{{ baseHref }}" />
		<link rel="stylesheet" media="screen" href="css/default.css">
	</head>
	<body>
		<div id="header">
		
			<a href="#" id="menu"></a>
			
		</div>
		
		<div id="content">
		
			<h1>Projects</h1>
			
			<table id="project_list">
				<thead>
					<tr>
						<th>Name</th>
						<th>Status</th>
				<thead>
				<tbody>
					<tr>
						<td>Woofbox AlphaPhaser</td>
						<td>Completed</td>
					</tr>
					<tr class="evenrow">
						<td>Blair Witch Project</td>
						<td>In transit</td>
					</tr>
					<tr>
						<td>Hacking Pegasus</td>
						<td>Something else</td>
					</tr>
				</tbody>
			</table>
			
		</div>
	</body>
</html>