{% include 'header.html' %}
<div id="content">

	<h1>Users</h1>
	
	<table id="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Company</th>
				<th>Type</th>
				<th>Options</th>
		</thead>
		<tbody>
			<tr>
				<td>Henk de Vries</td>
				<td>We R Asia</td>
				<td>Admin</td>
				<td>
					<a id="option_info" href="#">info</a>
					<a id="option_edit" href="users/edit/1">edit</a>
					<a id="option_delete" href="#">delete</a>
				</td>
			</tr>
			<tr class="evenrow">
				<td>Willem Duys</td>
				<td>We R Asia</td>
				<td>Moderator</td>
				<td>
					<a id="option_info" href="#">info</a>
					<a id="option_edit" href="users/edit/1">edit</a>
					<a id="option_delete" href="#">delete</a>
				</td>
			</tr>
			<tr>
				<td>Gerard Joling</td>
				<td>Bert's Betonmolen</td>
				<td></td>
				<td>
					<a id="option_info" href="#">info</a>
					<a id="option_edit" href="users/edit/1">edit</a>
					<a id="option_delete" href="#">delete</a>
				</td>
			</tr>
			<tr class="evenrow">
				<td>Dovahkiin</td>
				<td>We R Asia</td>
				<td>Moderator</td>
				<td>
					<a id="option_info" href="#">info</a>
					<a id="option_edit" href="users/edit/1">edit</a>
					<a id="option_delete" href="#">delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<a href="users/add" id="regular_button">Add</a>
	
	<div class="clear"></div>
	
</div>
{% include 'footer.html' %}