{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">Projects</a> > <a href="projects/project/{{project.id}}">{{project.name}}</a> > Add Product</h1>
	
	<div id="profile_labels">
		<label for="product">Product Name:</label>
	</div>
	
	<form method="post" action="{{ AddProductForm.action }}" id="AddProductForm">
		<div id="profile_input">
			<input type="text" name="name" id="name" value="" />
		</div>
		
		<div class="clear"></div>
		
		<div id="center_buttons">
			<input class="center_button" type="submit" name="submit" value="Save"/>
			<input class="center_button" type="reset" name="reset" value="Cancel"/>
		</div>
	</form>
	
</div>
{% include 'footer.html' %}