{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">{{ trans("projects") }}</a> > <a href="projects/project/{{project.id}}">{{project.name}}</a> > {{ trans("addProduct") }}</h1>
	
	<div id="profile_labels">
		<label for="product">{{ trans("productName") }}:</label>
        <label for="sendemail">{{ trans("sent_email") }}:</label>
	</div>
	
	<form method="post" action="{{ AddProductForm.action }}" id="AddProductForm">
		<div id="profile_input">
			<input type="text" name="name" id="name" value="" />
            <input type="checkbox" name="sendemail" id="sendemail" /><br />
		</div>
		
		<div class="clear"></div>
		
		<div id="center_buttons">
			<input class="center_button" type="submit" name="submit" value="{{ trans("save") }}"/>
			<input class="center_button" type="reset" name="reset" value="{{ trans("cancel") }}"/>
		</div>
	</form>
	
</div>
{% include 'footer.html' %}