{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">{{ trans("projects") }}</a> &gt; <a href="projects/project/{{ project.id }}">{{ project.name }}</a> &gt; <a href="projects/product/{{ product.id }}">{{ product.name }}</a> &gt; {{ trans("upload") }}</h1>
	<p id="project_number">{{ project.code }}</p>
	
	<h2>{{ trans("uploadNewDocument") }}</h2>

	<form method="post" action="./projects/uploadDocumentToProductProcess/{{ product.id }}" id="uploadDocForm" enctype="multipart/form-data">
		<input name="file_upload" id="file_upload" type="text" />
		<input name="file_input" id="file_input" type="file" />
		<div id="center_buttons">
			<input class="center_button" type="submit" name="file_submit" value="{{ trans('upload') }}"/>
			<input class="center_button" type="reset" name="reset" value="{{ trans('cancel') }}"/>
		</div>
	</form>
	
	<div class="clear"></div>
	
	<script type="text/javascript">
		jsl.load('./js/upload.js');
	</script>
</div>
{% include 'footer.html' %}