{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">{{ trans("projects") }}</a> > <a href="projects/project/{{project.id}}">{{project.name}}</a> > {{product.name}}</h1>
	<p id="project_number">{{project.code}}</p>

	<p id="project_status">Product status: {{product.status}} <a href="projects/addStatusToProduct/{{product.id}}" class="regular_button align_left">Update Status</a></p>


	

	<div class="clear"></div>
	
	{% if productsCount > 0 %}
	<h2>Status Log</h2>

	<table>
		<thead>
			<tr>
				<th>Status</th>
				<th>{{ trans("date") }}</th>
		</thead>
		<tbody>
			{% for logItem in product.logItems %}
			<tr>
				<td>{{ logItem.text }}</td>
				<td>{{ logItem.date }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h2>{{ trans("noStatusLog") }}</h2>
	{% endif %}

	{% if documentsCount > 0 %}
	<br />
	<h2>{{ trans("documents") }}</h2>
	
	<table class="four_col doc_options">
		<thead>
			<tr>
				<th>{{ trans("name") }}</th>
				<th>{{ trans("date") }}</th>
				<th>{{ trans("options") }}</th>
		</thead>
		<tbody>
			{% for document in documents %}
			<tr>
				<td><a href="{{document.fileUrl}}">{{document.name}}</a></td>
				<td class="date">{{ document.date }}</td>
				<td class="options_td">
					<a class="option_delete" href="document/{{document.id}}">{{ trans("delete") }}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h2>{{ trans("noDocuments") }}</h2>
	{% endif %}
	
	<a class="regular_button" href="projects/uploadDocumentToProduct/1">{{ trans("upload") }}</a>
	
	<div class="clear"></div>

</div>
{% include 'footer.html' %}