{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">{{ trans("projects") }}</a> &gt; <a href="projects/project/{{project.id}}">{{project.name}}</a> &gt; <a href="projects/product/{{product.id}}">{{product.name}}</a> > {{ trans("newStatus") }}</h1>
	
	<div id="profile_labels">
		<label for="nl_status">{{ trans("dutch") }} status:</label>
		<label for="en_status">{{ trans("english") }} status:</label>
	</div>
	
	<form method="post" action="./projects/processAddNewStatusTo{{ type }}/{{ relevantId }}" id="AddStatusForm">
		<div id="profile_input">
			<input type="text" name="nl_status" id="nl_status" value="" />
			<input type="text" name="en_status" id="en_status" value="" />
		</div>
		
		<div class="clear"></div>
		
		<div id="center_buttons">
			<input class="center_button" type="submit" name="submit" value="{{ trans('save') }}" />
			<input class="center_button" type="reset" name="reset" value="{{ trans('cancel') }}" />
		</div>
	</form>
	
	<span>{{ trans("existingStatusMessage") }}:</span>
	
	<form method="post" action="./projects/processAddExistingStatusTo{{ type }}/{{ relevantId }}" id="AddExistingStatusForm">
		<label for="status">Status:</label>
		<select name="status" id="status">
			{% for status in statuses %}
				<option value="{{ status.id }}">{{ status.name }}</option>
			{% endfor %}
		</select>
		<input class="center_button" type="submit" name="submit" value="{{ trans('save') }}" />
	</form>
	
</div>
{% include 'footer.html' %}