{% include 'header.html' %}
<div id="content">

	<h1><a href="archive">{{ trans("archive") }}</a> &gt; <a href="archive/project/{{ project.id }}">{{ project.name }}</a> &gt; {{ trans("invoices") }}</h1>
	
	<table>
		<thead>
			<tr>
				<th>{{ trans("name") }}</th>
				<th>{{ trans("date") }}</th>
		</thead>
		<tbody>
		{% for invoice in invoices %}
			<tr>
				<td><a href="{{invoice.fileUrl}}">{{invoice.name}}</a></td>
				<td class="date">{{ invoice.date }}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% include 'footer.html' %}