{% include 'header.html' %}
<div id="content">

	<h1><a href="archive">{{ trans("archive") }}</a> > {{ project.name }}</h1>
	<p id="project_number">{{ project.code }}</p>
	
	<p id="project_status">Status: {{project.status}}</p>
	
	<a id="to_invoices" href="archive/invoice/{{ project.id }}">{{ trans("toInvoices") }} ></a>
	<div class="clear"></div>
	
	{% if productsCount > 0 %}
	<table>
		<thead>
			<tr>
				<th>{{ trans("name") }}</th>
				<th>Status</th>
		</thead>
		<tbody>
			{% for product in products %}
			<tr>
				<td><a href="archive/product/{{ product.id }}">{{product.name}}</a></td>
				<td>{{product.status}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h2>{{ trans("noProducts") }}</h2>
	{% endif %}
	
	{% if documentsCount > 0 %}
	<br />
	<h2>{{ trans("documents") }}</h2>
	
	<table>
		<thead>
			<tr>
				<th>{{ trans("name") }}</th>
				<th>{{ trans("date") }}</th>
		</thead>
		<tbody>
			{% for document in documents %}
			<tr>
				<td><a href="{{document.fileUrl}}">{{document.name}}</a></td>
				<td class="date">{{ document.date }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h2>{{ trans("noDocuments") }}</h2>
	{% endif %}
	
</div>
{% include 'footer.html' %}