{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">Projects</a> > Add Project</h1>
	
	<div id="profile_labels">
		<label for="name">Project Name:</label>
		<label for="code">Projectcode:</label>
		<label for="permissions">Permissions:</label>
	</div>
	
	<form method="post" action="{{ AddProjectForm.action }}" id="AddProjectForm">
		<div id="profile_input">
			<input type="text" name="name" id="name" />
			<input type="text" name="code" id="code" />
			<div id="permissions_bg">
				{% for user in users %}
				<input type="checkbox" name="permissions[]" value="{{user.id}}" /><label>{{user.name}}</label><br />
				{% endfor %}
			</div>
		</div>
		
		<div class="clear"></div>
		
		<div id="center_buttons">
			<input class="center_button" type="submit" name="submit" value="Save"/>
			<input class="center_button" type="reset" name="reset" value="Cancel"/>
		</div>
	</form>
	
</div>
{% include 'footer.html' %}