{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">Projects</a> > <a href="projects/project/{{ project.id }}">{{ project.name }}</a> > Edit Project</h1>
	
	<div id="profile_labels">
		<label for="name">Project Name:</label>
		<label for="code">Projectcode:</label>
		<label for="done">Done?:</label>
		<label for="permissions">Permissions:</label>
	</div>
	
	<form method="post" action="{{ EditProjectForm.action }}" id="EditProjectForm">
		<div id="profile_input">
			<input type="text" name="name" id="name" value="{{ project.name }}" />
			<input type="text" name="code" id="code" value="{{ project.code }}" />
			<input type="checkbox" name="done" id="done" {% if project.done == 1 %} checked="true" {% endif %} /><br />
			<div id="permissions_bg">
				{% for user in users %}
				<input type="checkbox" name="permissions[]" value="{{user.id}}" {% if user.permission %} checked="true" {% endif %} /><label>{{user.name}}</label><br />
				{% endfor %}
			</div>
		</div>
		
		<div class="clear"></div>
		
		<div id="center_buttons">
			<input class="center_button" type="submit" name="submit" value="Save"/>
			<input class="center_button" type="reset" name="reset" value="Cancel"/>
		</div>
	</form>
	
</div>
{% include 'footer.html' %}