{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">{{ trans("projects") }}</a> &gt; <a href="projects/project/{{ project.id }}">{{ project.name }}</a> &gt; {{ trans("invoices") }}</h1>
	
	<table class="double_col">
		<thead>
			<tr>
				<th>{{ trans("name") }}</th>
				<th>{{ trans("options") }}</th>
		</thead>
		<tbody>
			<tr>
				<td>Invoice_012012.pdf</td>
				<td class="options_td">
					<a class="option_delete" href="#">{{ trans("delete") }}</a>
				</td>
			</tr>
			<tr class="evenrow">
				<td>Invoice_022011.pdf</td>
				<td class="options_td">
					<a class="option_delete" href="#">{{ trans("delete") }}</a>
				</td>
			</tr>
			<tr>
				<td>Invoice_112011.pdf</td>
				<td class="options_td">
					<a class="option_delete" href="#">{{ trans("delete") }}</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<a class="regular_button" href="projects/uploadInvoice/1">{{ trans("upload") }}</a>
	
	<div class="clear"></div>
</div>
{% include 'footer.html' %}