{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">Projects</a> > <a href="projects/project/1">Project_name</a> > Invoices</h1>
	
	<table class="double_col">
		<thead>
			<tr>
				<th>Name</th>
				<th>Options</th>
		</thead>
		<tbody>
			<tr>
				<td>Invoice_012012.pdf</td>
				<td class="options_td">
					<a class="option_delete" href="#">delete</a>
				</td>
			</tr>
			<tr class="evenrow">
				<td>Invoice_022011.pdf</td>
				<td class="options_td">
					<a class="option_delete" href="#">delete</a>
				</td>
			</tr>
			<tr>
				<td>Invoice_112011.pdf</td>
				<td class="options_td">
					<a class="option_delete" href="#">delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<a class="regular_button" href="projects/uploadInvoice/1">Upload</a>
	
	<div class="clear"></div>
</div>
{% include 'footer.html' %}