{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">{{ trans("projects") }}</a> &gt; <a href="projects/project/{{ project.id }}">{{ project.name }}</a> &gt; {{ trans("invoices") }}</h1>
	
	<table class="double_col">
		<thead>
			<tr>
				<th>{{ trans("name") }}</th>
				<th>{{ trans("options") }}</th>
		</thead>
		<tbody>
		{% for invoice in invoices %}
			<tr>
				<td><a href="{{invoice.fileUrl}}">{{invoice.name}}</a></td>
				<td class="date">{{ invoice.date }}</td>
				<td class="options_td">
					<a class="option_delete" href="invoice/{{invoice.id}}">{{ trans("delete") }}</a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
	
	<a class="regular_button" href="projects/uploadInvoice/1">{{ trans("upload") }}</a>
	
	<div class="clear"></div>
</div>
{% include 'footer.html' %}