{% include 'header.html' %}
<div id="content">

	<h1><a href="projects">Projects</a> > {{ project.name }}</h1>
	<p id="project_number">{{ project.code }}</p>
	
	<p id="project_status">Status: In development</p>
	
	<a id="to_invoices" href="projects/invoice/{{ project.id }}">To invoices ></a>
	
	{% if productsCount > 0 %}
	<table id="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
				<th>Options</th>
		</thead>
		<tbody>
			{% for product in products %}
			<tr{% if loop.index is even %} class="evenrow"{% endif %}>
				<td><a href="projects/product/{{ product.id }}">{{ product.name }}</a></td>
				<td></td>
				<td class="options_td">
					<a class="option_edit" href="projects/editProduct/{{product.id}}">edit</a>
					<a class="option_delete" href="#">delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h2>No products</h2>
	{% endif %}
	
	<a class="regular_button" href="projects/addProduct/{{project.id}}">Add Product</a>
	
	<div class="clear"></div>
	
	<br />
	<h2>Documents</h2>
	
	<table id="table" class="four_col doc_options">
		<thead>
			<tr>
				<th>Name</th>
				<th>Date</th>
				<th>Options</th>
		</thead>
		<tbody>
			<tr>
				<td>print_logo_tshirt.pdf</td>
				<td class="date">8-12-2011</td>
				<td class="options_td">
					<a class="option_archive" href="#">archive</a>
					<a class="option_delete" href="#">delete</a>
				</td>
			</tr>
		</tbody>
	</table>
	
	<a class="regular_button" href="projects/uploadDocument/1">Upload</a>
	
	<div class="clear"></div>
	
</div>
{% include 'footer.html' %}