{% include 'header.html' %}
<div id="content">

	{% if productsCount > 0 %}
	<h1>{{ trans("projects") }}</h1>
	
	<table>
		<thead>
			<tr>
				<th>{{ trans("name") }}</th>
				<th>Status</th>
				<th>{{ trans("options") }}</th>
		</thead>
		<tbody>
			{% for project in projects %}
			<tr>
				<td><a href="projects/project/{{project.id}}">{{project.name}}</a></td>
				<td>{{project.status}}</td>
				<td class="options_td">
					<a class="option_archive" href="#">{{ trans("toArchive") }}</a>
					<a class="option_edit" href="projects/editProject/{{project.id}}">{{ trans("edit") }}</a>
					<a class="option_delete" href="projects/{{project.id}}">{{ trans("delete") }}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h2>{{ trans("projects") }}</h2>
	{% endif %}
	
	<a href="projects/addProject" class="regular_button">{{ trans("addProject") }}</a>
	
	<div class="clear"></div>
	
</div>
{% include 'footer.html' %}