{% include 'header.html' %}
<div id="content">

	{% if productsCount > 0 %}
	<h1>Projects</h1>
	
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Status</th>
				<th>Options</th>
		</thead>
		<tbody>
			{% for project in projects %}
			<tr>
				<td><a href="projects/project/{{project.id}}">{{project.name}}</a></td>
				<td>{{project.status}}</td>
				<td class="options_td">
					<a class="option_archive" href="#">archive</a>
					<a class="option_edit" href="projects/editProject/{{project.id}}">edit</a>
					<a class="option_delete" href="projects/{{project.id}}">delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h2>There are no projects yet.</h2>
	{% endif %}
	
	<a href="projects/addProject" class="regular_button">Add Project</a>
	
	<div class="clear"></div>
	
</div>
{% include 'footer.html' %}