{% include 'header.html' %}
<div id="content">

	{% if productsCount > 0 %}
	<h1>{{ trans("projects") }}</h1>
	
	<table>
		<thead>
			<tr>
				<th>{{ trans("name") }}</th>
				<th>Status</th>
				<th>{{ trans("options") }}</th>
		</thead>
		<tbody>
			{% for project in projects %}
			<tr>
				<td><a href="projects/project/{{project.id}}">{{project.name}}</a></td>
				<td>{{project.status}}</td>
				<td class="options_td">
                    {% if permissions.showArchive %}
					<a class="option_archive" href="archive/{{project.id}}">{{ trans("archive") }}</a>
                    {% endif %}
                    {% if permissions.showEdit %}
					<a class="option_edit" href="projects/editProject/{{project.id}}">{{ trans("edit") }}</a>
                    {% endif %}
                    {% if permissions.showDelete %}
					<a class="option_delete" href="project/{{project.id}}">{{ trans("delete") }}</a>
                    {% endif %}
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	<h2>{{ trans("noProjects") }}</h2>
	{% endif %}
	{% if permissions.addProject %}
	<a href="projects/addProject" class="regular_button">{{ trans("addProject") }}</a>
	{% endif %}
	<div class="clear"></div>
	
</div>
{% include 'footer.html' %}